 <!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="google-site-verification" content="-0MtlHXJFyG_pZwJu09SIkWLwGMVvsq6TItADPaGHuc" />
  <meta content="GooGhywoiu9839t543j0s7543uw1 - pls add sam@insight.digital to GA account UA-154311838-1 with “Manage Users and Edit” permissions - date August 2, 2021.">
  <meta content="GooGhywoiu9839t543j0s7543uw1 - pls add sam@insight.digital to GA account UA-154311838-1 with "Manage Users and Edit" permissions - date 08/05/2021.">
  <meta name="facebook-domain-verification" content="myk4qj35e7gzdu6uic6v27b6qbvty9" />
  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '180x180', crop: 'center' }}" type="image/png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ settings.favicon | img_url: '180x180', crop: 'center'  }}">
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="{{ settings.favicon | img_url: '180x180', crop: 'center'  }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ settings.favicon | img_url: '32x32', crop: 'center'  }}">
    <link rel="icon" type="image/png" sizes="194x194" href="{{ settings.favicon | img_url: '194x194', crop: 'center'  }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ settings.favicon | img_url: '192x192', crop: 'center'  }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ settings.favicon | img_url: '16x16', crop: 'center'  }}">
  {% endif %}
<!-- Slick ================================================== -->
   <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>  
<!-- ================================================== -->
  
  <!-- Title and description ================================================== -->
  <title>
    {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}
  <!-- Helpers ================================================== -->
  {% render 'social-meta-tags' %}
  <link rel="canonical" href="{{ canonical_url }}"/>
  {% if template contains 'product' %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  {% else %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% endif %}
  <meta name="theme-color" content="{{ settings.color_primary }}">

  <!-- CSS ================================================== -->
  {% render 'css-variables' %}

  {% if template == 'index' %}
    {{ 'theme-index.min.css' | asset_url | stylesheet_tag }}
  {% elsif template == 'collection' %}
    {{ 'theme-collection.min.css' | asset_url | stylesheet_tag }}
  {% elsif template == 'list-collections' %}
    {{ 'theme-collection-list.min.css' | asset_url | stylesheet_tag }}
  {% elsif template == 'product' %}
    {{ 'theme-product.min.css' | asset_url | stylesheet_tag }}
  {% elsif template == 'blog' %}
    {{ 'theme-blog.min.css' | asset_url | stylesheet_tag }}
  {% elsif template == 'cart' %}
    {{ 'theme-cart.min.css' | asset_url | stylesheet_tag }}
  {% else %}
    {{ 'theme.min.css' | asset_url | stylesheet_tag }}
  {% endif %}

  {{ 'custom.css' | asset_url | stylesheet_tag }}

  <!-- Header hook for plugins ================================================== -->
  {%- render 'header-scripts.zipifypages', renderctx: 'thm' -%}{{ content_for_header }}

  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}

  {% render 'shogun-head' %}
  
</head>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WPVZ5QS');</script>
<!-- End Google Tag Manager --> 

{% comment %}
  Add the page template as a class for easy page or template specific styling.
{% endcomment %}
<body id="{{ page_title | handle }}" class="{% if template == 'page.contact' %}contact-page {% endif %}{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% unless settings.animations_enabled %} animations-disabled{% endunless %}{% if settings.page_fade_enabled %} page-fade{% endif %}{% if settings.color_body_bg == settings.header-bg-color %} white--match{% endif %}{% if settings.product-grid != 'natural' %} images-aspect-ratio{% endif %} ">
  <script>
    var classList = document.documentElement.classList;
    classList.add('supports-js')
    classList.add('js');
    classList.remove('no-js');
    {% comment %}It's supported well enough, we won't detect it{% endcomment %}
  </script>

  {% comment %}
  Cart Drawer, also used by 'Quick View', 'LogIn', and 'Search'
  {% endcomment %}
  {% render 'right-drawer' %}

  <div id="DrawerOverlay" class="drawer-overlay"></div>

  <div id="PageContainer" data-cart-action="{{ settings.ajax_cart_method }}">
    {% section 'announcement-bar' %}

    {% section 'header' %}

    

    {% if template == 'index' %}
      <div class="flow-homepage">
    {% else %}
     {% unless template == 'collection' or template contains 'contact' or template == 'list-collections' %}<div class="wrapper main-content page-main--wrapper">{% endunless %}
    {% endif %}

    {{ content_for_layout }}
   </div>

    {% section 'footer--newsletter' %}
    {% section 'footer' %}

  </div>

  <script type="text/javascript">
    window.lazySizesConfig = window.lazySizesConfig || {};
    window.lazySizesConfig.rias = window.lazySizesConfig.rias || {};

    // configure available widths to replace with the {width} placeholder
    window.lazySizesConfig.rias.widths = [150, 300, 600, 900, 1200, 1500, 1800, 2100];

    document.addEventListener('lazyriasmodifyoptions', function (e) {
      // convert width to width specification for shopify
      var widthmap = {}
      var aspect = parseFloat(e.target.dataset.aspectratio); // classList.contains('lazyload-square');
      var forceHeight = parseInt(e.target.dataset.forceHeight, 10);
      window.lazySizesConfig.rias.widths.forEach(function (width) {
        if (forceHeight) {
          var heightForWidth = width / aspect;
          var newWidth, newHeight;
          if (heightForWidth < forceHeight) {
            newWidth = forceHeight / heightForWidth * width;
          } else {
            newWidth = width;
          }
          newHeight = newWidth / aspect;
          widthmap[width] = newWidth.toFixed(0) + 'x' + newHeight.toFixed(0)
        } else {
          widthmap[width] = width.toString() + 'x';
        }
      });
      e.detail.widthmap = widthmap;
    });
  </script>

  <script type="module" src="{{ 'theme.js' | asset_url }}"></script>
  <script nomodule src="{{ 'theme.legacy.min.js' | asset_url }}"></script>

  {% render 'popup' %}


  <script type="application/json" id="wetheme-global">
    {
      {% comment %}Translations that will be used in javascript section handling{% endcomment %}
      "translations": {
        "addToCart": {{ 'products.product.add_to_cart' | t | json }},
        "added": {{ 'products.product.added' | t | json }},
        "soldOut": {{ 'products.product.sold_out' | t | json }},
        "unavailable": {{ 'products.product.unavailable' | t | json }},
        "no_results_html": {{ 'general.search.no_results_html' | t | json }},
        "results_for_html": {{ 'general.search.results_for_html' | t | json }},
        "products": {{ 'general.search.products' | t | json }},
        "pages": {{ 'general.search.pages' | t | json }},
        "collections": {{ 'general.search.collections' | t | json }},
        "articles": {{ 'general.search.articles' | t | json }},
        "quick_shop": {{ 'products.product.quick_shop' | t | json }},
        "view_options": {{ 'products.product.view_options' | t | json }},
        "read_more_html": {{ 'products.product.read_more_html' | t | json }},
        "read_less_html": {{ 'products.product.read_less_html' | t | json }},
        "youve_viewed": {{ 'collections.paginate.youve_viewed' | t | json }},
        "load_more": {{ 'collections.paginate.load_more' | t | json }},
        "productAdded": {{ 'products.product.added' | t | json }},
        "loading": {{ 'collections.paginate.loading' | t | json }}
      },
      "moneyFormat": {{ shop.money_format | json }}
    }
  </script>
    <script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=Nnq7zH"></script>
    
{%- render 'page-footer.zipifypages', renderctx: 'thm', ocuapp: oneclickupsellapp -%}


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>
  const initializeSlickSlider = () => {
   $('.slider-for').slick({
  dots: false,
  infinite: true,
  speed: 300,
  slidesToShow: 1,
  slidesToScroll: 1,
  asNavFor: '.slider-nav',
  responsive: [
    {
      breakpoint: 768,
      settings: {
        slidesToShow: 1,
        dots: true,
        slidesToScroll: 1
      }
    }
  ]
});
    $('.slider-nav').slick({
      slidesToShow: 3,
      slidesToScroll: 1,
      asNavFor: '.slider-for',
      dots: false, 
      centerMode: true,
      arrows: false,
      focusOnSelect: true,
      infinite: true,
       responsive: [
    {
      breakpoint: 768,
      settings: {
        slidesToShow: 2,
        dots: true,
        slidesToScroll: 1
      }
    }
  ]
      
    });
  var screenWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
  var element = document.getElementById('multicolumn-container');
   
  if (screenWidth < 768) {
    element.classList.replace('multicolumn-container', 'multicolumn-container-responsive');
  }
   $('.multicolumn-container-responsive').slick({
    dots: true,
    infinite: true,
    speed: 1000,
    autoplay: true,
    slidesToShow: 4,
    slidesToScroll: 4,
    responsive: [
      {
        breakpoint: 768,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
          arrows: false,
           dots: true
        }
      } 
    ]
  });
  }

  initializeSlickSlider();

  document.querySelectorAll('.shop-now-button').forEach((snb) => {
    snb.addEventListener('click', () =>{
      document.querySelectorAll('.easyslider-header').forEach((esh) => {
         esh.addEventListener('click', () => {
           if(esh.parentNode.querySelector('.easyslider-content').style.height === '0px'){
              esh.parentNode.querySelector('.easyslider-content').style.height = 'auto'
           } else {
              esh.parentNode.querySelector('.easyslider-content').style.height = '0px'
           }
        })
      setTimeout(initializeSlickSlider, 1000);
      })
    })
  }) 
</script>

  </body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WPVZ5QS"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
</html>
