<section>
  <div class="multicolumn-container" id="multicolumn-container">
    {% render 'multicolumn-background' %}
    <item class="multicolumn-item-conntainer">
      <h3 style="font-family: Kinfolk !important;">{{ section.settings['multicolumn-short-title1'] }}</h3>
      <h1 style="font-family: Avenir Next LT Pro !important;">{{ section.settings['multicolumn-main-title1'] }}</h1>
      <p>{{ section.settings['paragraph-item-1'] }}</p>
    </item>
    <item class="multicolumn-item-conntainer">
      <h3 style="font-family: Kinfolk !important;">{{ section.settings['multicolumn-short-title2'] }}</h3>
      <h1 style="font-family: Avenir Next LT Pro !important;">{{ section.settings['multicolumn-main-title2'] }}</h1>
      <p>{{ section.settings['paragraph-item-2'] }}</p>
    </item>
    <item class="multicolumn-item-conntainer">
      <h3 style="font-family: Kinfolk !important;">{{ section.settings['multicolumn-short-title3'] }}</h3>
      <h1 style="font-family: Avenir Next LT Pro !important;">{{ section.settings['multicolumn-main-title3'] }}</h1>
      <p>{{ section.settings['paragraph-item-3'] }}</p>
    </item>
  </div>
</section>

{% schema %}
{
  "name": "Product testimonial",
  "settings": [
     {
        "type": "header",
        "content": " ------------- Short title ---------------- "
    },
    {
        "type": "text",
        "id": "multicolumn-short-title1",
        "default": "Title item 1",
        "label": "Short title item 1"
    },
     {
        "type": "text",
        "id": "multicolumn-short-title2",
        "default": "Title item 2",
        "label": "Short title item 2"
    },
     {
        "type": "text",
        "id": "multicolumn-short-title3",
        "default": "Title item 3",
        "label": "Short title item 3"
    },
     {
        "type": "header",
        "content": " ------------- Main title ---------------- "
    },
    {
        "type": "text",
        "id": "multicolumn-main-title1",
        "default": "Title item 1",
        "label": "Main title item 1"
    },
        {
        "type": "text",
        "id": "multicolumn-main-title2",
        "default": "Title item 2",
        "label": "Main title item 2"
    },
    {
        "type": "text",
        "id": "multicolumn-main-title3",
        "default": "Title item 3",
        "label": "Main title item 3"
    },
     {
        "type": "header",
        "content": " ---------- Paragraph item ------------- "
    },
    {
        "type": "textarea",
        "id": "paragraph-item-1",
        "label": "Paragraph item 1",
        "default": "Paragraph item 1"
      },
        {
        "type": "textarea",
        "id": "paragraph-item-2",
        "label": "Paragraph item 2",
        "default": "Paragraph item 2"
      },
        {
        "type": "textarea",
        "id": "paragraph-item-3",
        "label": "Paragraph item 3",
        "default": "Paragraph item 3"
      }
  ]
}
{% endschema %}
