{% for collection in section.settings.collections %}
  {% if product.collections contains collection %}
  {% else %}
    {{ 'multicolumn-product.css' | asset_url | stylesheet_tag }}
    <style>
        .multicolumn-container {
        background-color: {{ section.settings.bg_color }} !important;
      }
      .multicolumn-container-responsive {
        background-color: {{ section.settings.bg_color }} !important;
      }
      .multicolumn-container path{
        stroke-opacity: 1;
        stroke: {{ section.settings.lines_color }} !important;
      }
      .multicolumn-container{
        position: relative;
        overflow: hidden;
      }
    </style>
    <section class="mcc">
      <div class="multicolumn-container" id="multicolumn-container">
        {% render 'multicolumn-background' %}
        <item class="multicolumn-item-conntainer">
          <h3 style="font-family: Kinfolk !important;">{{ section.settings['multicolumn-short-title1'] }}</h3>
          <h1 style="font-family: Avenir Next LT Pro !important;">{{ section.settings['multicolumn-main-title1'] }}</h1>
          <p>{{ section.settings['paragraph-item-1'] }}</p>
        </item>
        <item class="multicolumn-item-conntainer">
          <h3 style="font-family: Kinfolk !important;">{{ section.settings['multicolumn-short-title2'] }}</h3>
          <h1 style="font-family: Avenir Next LT Pro !important;">{{ section.settings['multicolumn-main-title2'] }}</h1>
          <p>{{ section.settings['paragraph-item-2'] }}</p>
        </item>
        <item class="multicolumn-item-conntainer">
          <h3 style="font-family: Kinfolk !important;">{{ section.settings['multicolumn-short-title3'] }}</h3>
          <h1 style="font-family: Avenir Next LT Pro !important;">{{ section.settings['multicolumn-main-title3'] }}</h1>
          <p>{{ section.settings['paragraph-item-3'] }}</p>
        </item>
      </div>
    </section>
  {% endif %}
{% endfor %}

{% schema %}
{
  "name": "Product testimonial",
  "settings": [
     {
        "type": "header",
        "content": " ------------- Short title ---------------- "
    },
    {
        "type": "text",
        "id": "multicolumn-short-title1",
        "default": "Title item 1",
        "label": "Short title item 1"
    },
     {
        "type": "text",
        "id": "multicolumn-short-title2",
        "default": "Title item 2",
        "label": "Short title item 2"
    },
     {
        "type": "text",
        "id": "multicolumn-short-title3",
        "default": "Title item 3",
        "label": "Short title item 3"
    },
     {
        "type": "header",
        "content": " ------------- Main title ---------------- "
    },
    {
        "type": "text",
        "id": "multicolumn-main-title1",
        "default": "Title item 1",
        "label": "Main title item 1"
    },
        {
        "type": "text",
        "id": "multicolumn-main-title2",
        "default": "Title item 2",
        "label": "Main title item 2"
    },
    {
        "type": "text",
        "id": "multicolumn-main-title3",
        "default": "Title item 3",
        "label": "Main title item 3"
    },
     {
        "type": "header",
        "content": " ---------- Paragraph item ------------- "
    },
    {
        "type": "textarea",
        "id": "paragraph-item-1",
        "label": "Paragraph item 1",
        "default": "Paragraph item 1"
      },
        {
        "type": "textarea",
        "id": "paragraph-item-2",
        "label": "Paragraph item 2",
        "default": "Paragraph item 2"
      },
        {
        "type": "textarea",
        "id": "paragraph-item-3",
        "label": "Paragraph item 3",
        "default": "Paragraph item 3"
      },
    {
  "type": "color",
  "id": "bg_color",
  "label": "background color",
  "default": "#ceb8a4"
},
    {
  "type": "color",
  "id": "lines_color",
  "label": "lines color",
  "default": "#ffffff"
},
    {
  "type": "collection_list",
  "id": "collection_list",
  "label": "Collections",
  "limit": 8
}
  ],
   "presets": [
    {
      "name": "multicolumn-product"
    }
  ]
}
{% endschema %}
