{{ 'text-and-two-images' | asset_url | stylesheet_tag }}
<section>
  <div class="txt-two-image-container">
    <div class="two-image-text">
      <h1>
        {% if product.metafields.custom.title %}
          {{ product.metafields.custom.title }}
        {% else %}
          {{ section.settings.title }}
        {% endif %}
      </h1>
      <p>
        {% if product.metafields.custom.under_title %}
          {{ product.metafields.custom.under_title }}
        {% else %}
          {{ section.settings.paragraph }}
        {% endif %}
      </p>
    </div>
    <div class="images-container"> 
      <img 
        src="{% if product.metafields.custom.product_image_2.value %}{{ product.metafields.custom.product_image_2.value | image_url }}{% else %}{{ section.settings.left-image | image_url }}{% endif %}" 
        alt="Left Image" 
        width="200" 
        height="200"
      >
      <img 
        src="{% if product.metafields.custom.product_image_3.value %}{{ product.metafields.custom.product_image_3.value | image_url }}{% else %}{{ section.settings.right-image | image_url }}{% endif %}" 
        alt="Right Image" 
        width="200" 
        height="200"
      >
    </div>
  </div>
  <hr id="line-gray">
</section>
{% schema %}
{
  "name": "Text and two image",
  "settings": [
    {
        "type": "text",
        "id": "title",
        "default": "Title",
        "label": "Title"
      },
    {
        "type": "textarea",
        "id": "paragraph",
        "label": "paragraph",
        "default": "paragraph"
      },
    {
      "type": "image_picker",
      "id": "left-image",
      "label": "Left image"
    },
    {
      "type": "image_picker",
      "id": "right-image",
      "label": "Right image"
    }
  ],
  "presets": [
    {
      "name": "text and two images"
    }
  ]
}
{% endschema %}
