{{ 'text-and-two-images.css' | asset_url | stylesheet_tag }}
<section>
  <div class="txt-two-image-container">
    <div class="two-image-text">
      <h1>
        {% if product.metafields.custom.title %}
          {{ product.metafields.custom.title }}
        {% else %}
          {{ section.settings.title }}
        {% endif %}
      </h1>
      <p>
        {% if product.metafields.custom.under_title %}
          {{ product.metafields.custom.under_title }}
        {% else %}
          {{ section.settings.paragraph }}
        {% endif %}
      </p>
    </div>
    <div class="images-container">
      {% if product.metafields.custom.product_image_2.value %}
        {% if product.metafields.custom.product_image_2.value contains '.mp4' %}
          {{
            product.metafields.custom.product_image_2.value
            | video_tag:
              class: 'custom-video',
              image_size: '400x',
              autoplay: false,
              loop: true,
              muted: false,
              controls: true
          }}
        {% else %}
          {{
            product.metafields.custom.product_image_2.value
            | image_url: width: 500, height: 500
            | image_tag: width: 200, height: 200
          }}
        {% endif %}
      {% else %}
        {% if section.settings['left-media-type'] == 'image' %}
          {{ section.settings['left-image'] | image_url: width: 500, height: 500 | image_tag: width: 200, height: 200 }}
        {% else %}
          {{
            section.settings.video1
            | video_tag:
              class: 'custom-video',
              image_size: '400x',
              autoplay: false,
              loop: true,
              muted: false,
              controls: true
          }}
        {% endif %}
      {% endif %}

      {% if product.metafields.custom.product_image_3.value %}
        {% if product.metafields.custom.product_image_3.value contains '.mp4' %}
          {{
            product.metafields.custom.product_image_3.value
            | video_tag:
              class: 'custom-video',
              image_size: '400x',
              autoplay: false,
              loop: true,
              muted: false,
              controls: true
          }}
        {% else %}
          {{
            product.metafields.custom.product_image_3.value
            | image_url: width: 500, height: 500
            | image_tag: width: 200, height: 200
          }}
        {% endif %}
      {% else %}
        {% if section.settings['right-media-type'] == 'image' %}
          {{
            section.settings['right-image']
            | image_url: width: 500, height: 500
            | image_tag: width: 200, height: 200
          }}
        {% else %}
          {{
            section.settings.video2
            | video_tag:
              class: 'custom-video',
              image_size: '400x',
              autoplay: false,
              loop: true,
              muted: false,
              controls: true
          }}
        {% endif %}
      {% endif %}
    </div>
  </div>
  <hr id="line-gray">
</section>
<style>
    .custom-video {
      max-width: 100%; /* Ensures the video doesn't stretch beyond its container */
      max-height: 200px; /* Adjust as needed */
      width: auto; /* Allows the video to scale */
      height: auto; /* Allows the video to scale */
      display: block; /* Removes any unwanted margins */
      margin: 0 auto; /* Centers the video if it's smaller than the container */
  }
</style>
{% schema %}
{
  "name": "Text and two image",
  "settings": [
    {
        "type": "text",
        "id": "title",
        "default": "Title",
        "label": "Title"
      },
    {
        "type": "textarea",
        "id": "paragraph",
        "label": "paragraph",
        "default": "paragraph"
      },
    {
      "type": "image_picker",
      "id": "left-image",
      "label": "Left image"
    },
    {
      "type": "image_picker",
      "id": "right-image",
      "label": "Right image"
    },
    {
  "type": "video",
  "id": "video1",
  "label": "A Shopify-hosted video"
},
    {
  "type": "video",
  "id": "video2",
  "label": "A Shopify-hosted video"
},
    {
  "type": "select",
  "id": "left-media-type",
  "label": "Left Media Type",
  "options": [
    { "value": "image", "label": "Image" },
    { "value": "video", "label": "Video" }
  ],
  "default": "image"
},
{
  "type": "select",
  "id": "right-media-type",
  "label": "Right Media Type",
  "options": [
    { "value": "image", "label": "Image" },
    { "value": "video", "label": "Video" }
  ],
  "default": "image"
}

  ],
  "presets": [
    {
      "name": "text and two images"
    }
  ]
}
{% endschema %}
