{% include 'product-content.zipifypages', contentprt: 'header' %}
<!-- /templates/product.liquid -->
{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}

{% section 'drawer-product' %}

{% section 'multicolumn-product' %}

{% section 'text-and-two-images' %}

{% section 'template--style-with' %}

{% section 'template--product--recently-viewed' %}

{% section 'title-and-text-product' %}


{% comment %}
  {% section 'template--product--recommendations' %}
{% endcomment %}

<!-- Start Stamped.io Auto Installation -->
<div
  id="stamped-main-widget"
  class="stamped-main-widget"
  data-widget-style="standard"
  data-product-id="{{ product.id }}"
  data-name="{{ product.title | escape }}"
  data-url="{{ shop.url }}{{ product.url }}"
  data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}"
  data-description="{{ product.description | escape }}"
  data-product-sku="{{product.handle}}"
  data-product-type="{{product.type}}"
  data-widget-language="{{shop.locale}}"
>
  {{ product.metafields.stamped.reviews }}
</div>
<!-- End Stamped.io Auto Installation -->
{% include 'product-content.zipifypages', contentprt: 'footer' %}
